################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/**/bin
/**/obj
*.user
/**/.vscode
/Testdata/*/**
/Testdata/**
/my_secrets.txt
TranscriptionWorker/.env
access-token.txt
API/appsettings.Development.json
API/appsettings.Production.json
/API/appsettings.Development.json
/API/appsettings.Production.json
artifacts
auditlog*.jsonl
